@*<script src="~/Content/js/Organization.js"></script>*@ @*commented and added by baans 07Aug2020*@
<script src="~/Content/js/Organization.js?v=2"></script>
<script type="text/javascript">

    function HighlightTabs(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabBody");
        //for (i = 0; i < tabcontent.length; i++) {
        //    tabcontent[i].style.display = "none";
        //}
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        //document.getElementById(cityName).style.display = "block";
        //tarun 08/09/2018
        if (cityName != "Custom") {
            evt.currentTarget.className += " active";
        }
        else {
            $('#btnOrgCustomSearch').addClass('active');
        }
        //end
    }

</script>
<script type="text/javascript">

    $(function () {

        // baans change 22nd Sept
        //OrganisationList("All");
        OrganisationList("Customer");
        // baans end 22nd Sept

    });
</script>

<style>
    
 table.pq-grid-header-table {
    table-layout: fixed;
    width: 0;
    border-spacing: 0;
    border-collapse: separate;
    margin-bottom: -3px;
}

      table.pq-no-wrap>tbody>tr>.pq-grid-cell, table.pq-no-wrap>tbody>tr>.pq-grid-col>.pq-td-div {
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
}


      table.pq-grid-header-table div.pq-td-div {
     word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
}

      .pq-slider-icon.pq-no-capture {
    display: none;
}

        .row.RowColumns {
    margin: 0px 30px 0 0px;
    width: 100%;
}
/*div.pq-grid * {
    font-size: 12px;
    color:#888;
}*/
.ui-icon-seek-prev
{
    color:#888 !important;
}
    /*table.pq-grid-header-table {
        table-layout: fixed;
        width: 0;
        border-spacing: 0;
        border-collapse: separate;
        margin-bottom: 0px;
    }*/
    button.tablinks {
        border-width: 0px;
        font-size: 14px !important;
        color: #666666 !important;
    }

    .tab button.tablinks.active {
        font-family: 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 14px !important;
        color: #FF0000 !important;
    }

    
</style>

<div style="display: none" class="w3-section w3-card-12  j-close fadeOut j-alertBox-Success" id="art1">
    <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">×</span>
    <label><strong>Success ! </strong></label>
    <span></span>
</div>

<div class="row cuurentTabs">
    <img src="~/Content/images/ORGANISATION.png" class="img-responsive currentTabimg" />
</div>

<div class="row showCurrenttab" style="margin-top: 10px;">
    <img src="~/Content/images/hrImg.png" class="hrimg" style="margin:12px 0px 0 0;"/>

    <div class="tab">
        @Html.Hidden("OrganisationList", "OrganisationList", new { @id = "PageName" })
        <button class="tabheading">Organisations</button>
        <button class="tablinks" onclick="HighlightTabs(event, 'All'); OrganisationList('All');">All</button>
        <button class="tablinks" onclick="HighlightTabs(event, 'Lead'); OrganisationList('Lead');">Lead</button>
        <button class="tablinks" onclick="HighlightTabs(event, 'Prospect'); OrganisationList('Prospect');">Prospect</button>
        <button class="tablinks active" onclick="HighlightTabs(event, 'Customer'); OrganisationList('Customer');">Customer</button>
        <button class="tablinks" onclick="HighlightTabs(event, 'Supplier'); OrganisationList('Supplier');">Supplier</button>
        <button id="btnOrgCustomSearch" class="tablinks" onclick="HighlightTabs(event, 'Custom'); OrganisationList('Custom');">Custom</button>  @*tarun 08/09/2018*@
    </div>
    <img src="~/Content/images/hrImg.png" class="hrimg" style="margin: -15px 6px 2px 0;width:100%;"/>
    @*<img src="~/Content/images/hrImg.png" class="hrimg" style="margin: -7px 0 0 0;" />*@
</div>


<div class="row RowColumns tabBody" id="All" style="display:block;">

    <div class="row" style="margin-top:0px">

        <div class="col-sm-12">

            <div class="panelheader">
            </div>

            <div id="OrganisationGrid" class="orggrid" style="margin:0px 0px 0px 20px;width:auto"></div>
        </div>
    </div>
</div>


<div class="row RowColumns tabBody" id="Team">

</div>


            </section>

        </aside><!-- /.right-side -->


<aside class="right-sidebar"></aside>

<!--Right SideBar Ends-->
@*After Render Body Section Starts Ends*@