@*<script src="~/Content/js/Purchase.js"></script>*@ @*commented and added by baans 07Aug2020*@
<script src="~/Content/js/Purchase.js?v=2"></script>


<div>@Html.Hidden("ValueConversionReport", "ValueConversionReport", new { @id = "PageName" })</div>

<div style="margin-left: 18px;">
    <iframe src="~/Reports/ValueConversionReport.aspx" width="1475" height="900" style="border-color: white; border-width: 0;"></iframe>

</div>

@*After Render Body Section Starts Here*@
    </section>
    </aside><!-- /.right-side -->
<!--Right Sidebar starts-->
<aside class="right-sidebar">
    <div id="OppListSidebar" style="display:none;">
        @Html.Partial("_OptionRightSideBar")
    </div>
    @* @Html.Partial("_OptionRightSideBar")*@
</aside>

<!--Right SideBar Ends-->
@*After Render Body Section Starts Ends*@

